<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Group | CRUD Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">CRUD Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Dashboard </a>
                </li>
                {% if request.session.user_is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="/register">Add User </a>
                </li>
                {% endif %}
                <li class="nav-item active">
                    <a class="nav-link" href="/groups">Groups </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a href="/logout" class="btn btn-light my-2 my-sm-0"
                    onclick="return confirm('Are you sure you want to logout?')" type="submit">Logout</a>
            </form>
        </div>
    </nav>

    <!-- alert -->
    {% for message in messages %}
    <div class="alert
    {% if message.tags == 'error' %}
    alert-danger
    {% else %}
    alert-{{ message.tags }}
    {% endif %}
    alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <!-- show groups -->
    <div class="group">
        <div class="cgrp">
            <a href="/create-group" class="btn btn-dark">Create Group</a>
        </div>
        {% for group in groups %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ group.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ group.created_on }}</h6>
                <p class="card-text">
                    {% for m in group.members %}
                    {{ forloop.counter }}. {{ m.member.username }}
                    {% if m.member == group.admin %}
                    <i class="fa fa-check-circle fa-xs" aria-hidden="true" title="Group Admin"></i>
                    {% endif %}
                    <br>
                    {% endfor %}
                </p>
                {% if group.admin.username == request.session.username %}
                <a href="/group/{{ group.name }}" class="card-link">Edit</a>
                <a href="/group-delete/{{ group.name }}" class="card-link"
                    onclick="return confirm('Are you sure you want to delete the group?')">Delete</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

</body>

<style>
    body {
        margin: 1%;
    }

    h4 {
        margin-bottom: 3%;
    }

    .group {
        margin: 2% 15% 0 15%;
    }

    #myButton {
        margin-top: 2%;
    }

    .cgrp {
        margin-left: 80%;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>

</html>