<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile of {{ user.username }} | CRUD Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">CRUD Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Dashboard </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/profile/{{ user.id }}">
                        {% if request.session.username == user.username %}
                        My Profile
                        {% else %}
                        {{ user.fullname }}'s Profile
                        {% endif %}
                    </a>
                </li>
                {% if request.session.user_is_staff %}
                <li class="nav-item">
                    <a class="nav-link" href="/register">Add User </a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/groups">Groups </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <a href="/logout" class="btn btn-light my-2 my-sm-0"
                    onclick="return confirm('Are you sure you want to logout?')" type="submit">Logout</a>
            </form>
        </div>
    </nav>

    <!-- alert -->
    {% for message in messages %}
    <div class="alert
    {% if message.tags == 'error' %}
    alert-danger
    {% else %}
    alert-{{ message.tags }}
    {% endif %}
    alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <!-- user profile -->
    <div class="profile">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <div class="ppic" style="margin-bottom: 3%;">
                    {% if user.profile_picture %}
                    <img src="/media/{{ user.profile_picture }}" alt="Profile Picture" id="current-image"
                        class="img-fluid">
                    {% else %}
                    <img src="/static/images/prof-pic.png" alt="Profile Picture" id="current-image" class="img-fluid">
                    {% endif %}
                </div>
                <div>
                    <label for="upload-input" class="upload-label">Profile Picture</label>
                    <input type="file" name="profile-picture" accept="image/*" name="profile-picture" id="upload-input">
                    <div id="preview-container"></div>
                    <button class="btn btn-dark mt-3" id="crop-button" type="button">Crop</button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputUsername4">Username</label>
                    <input type="text" class="form-control" id="inputUsername4" value="{{ user.username }}"
                        name="username" disabled>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" value="{{ user.email }}" name="email"
                        required>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" id="inputPassword4" value="{{ user.password }}"
                        name="password" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputFullname">Full name</label>
                    <input type="text" class="form-control" id="inputFullname" name="fullname"
                        value="{{ user.fullname }}" required>
                </div>
                <!-- <div class="form-group col-md-2">
                    <label for="inputGender">Gender</label>
                    <select id="inputGender" class="form-control" required>
                        <option value="{{ user.gender }}" selected disabled>{{ user.gender }}</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div> -->
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" value="{{ user.address }}" name="address">
                </div>
                <div class="form-group col-md-4">
                    <label for="inputPhone">Phone</label>
                    <input type="text" class="form-control" id="inputPhone" value="{{ user.phone }}" name="phone"
                        required>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputGender">Gender</label>
                    <select id="inputGender" class="form-control" name="gender">
                        <option value="{{ user.gender }}" selected disabled>{{ user.gender }}</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputLastlogin">Last login</label>
                    {% if user.last_login %}
                    <input type="text" class="form-control" id="inputLastlogin" value="{{ user.last_login }}" disabled>
                    {% else %}
                    <input type="text" class="form-control" id="inputLastlogin" value="Not logged in yet" disabled>
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    <label for="inputJoineddate">Joined date</label>
                    <input type="text" class="form-control" id="inputJoineddate" value="{{ user.date_joined }}"
                        disabled>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputModifiedon">Last modified on</label>
                    <input type="text" class="form-control" id="inputModifiedon" value="{{ user.modified_on }}"
                        disabled>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck" checked>
                    <label class="form-check-label" for="gridCheck">
                        I agree to change {{ user.username }}'s details
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-dark" id="myButton">Save</button>
            <a href="/profile-delete/{{ user.username }}" class="btn btn-danger dlt-btn"
                onclick="return confirm('Are you sure you want to delete your profile?')">Delete Profile</a>
        </form>
    </div>
</body>

<style>
    body {
        margin: 1%;
    }

    .profile {
        margin: 2% 15%;
    }

    .dlt-btn {
        margin-left: 81%;
    }

    .ppic {
        margin-left: 40%;
        margin-bottom: 2%;
    }

    .ppic img {
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }

    #preview-container img {
        height: 250px;
        width: 250px;
    }
</style>

<script>
    const checkbox = document.getElementById('gridCheck');
    const button = document.getElementById('myButton');

    checkbox.addEventListener('change', function () {
        button.disabled = !checkbox.checked;

        if (checkbox.checked) {
            button.classList.remove('button-disabled');
        } else {
            button.classList.add('button-disabled');
        }
    });
</script>

<script>
    $(document).ready(function () {
        var cropper;

        $('#upload-input').on('change', function (e) {
            var files = e.target.files;
            var reader = new FileReader();
            reader.onload = function () {
                var img = document.createElement('img');
                img.src = reader.result;
                $('#preview-container').empty().append(img);
                cropper = new Cropper(img, {
                    aspectRatio: 1,
                    viewMode: 1,
                });
            }
            reader.readAsDataURL(files[0]);
        });

        $('#crop-button').click(function () {
            var canvas = cropper.getCroppedCanvas({
                width: 200,
                height: 200,
            });
            var croppedImage = canvas.toDataURL('image/*');

            $('#current-image').attr('src', croppedImage);
            cropper.destroy();
            // $('#upload-input').val('');
            $('#preview-container').empty();
        });
    });
</script>

<!-- <script>
    $(document).ready(function () {
        $('#crop-button').click(function () {
            var canvas = cropper.getCroppedCanvas({
                width: 200,
                height: 200,
            });
            var croppedImage = canvas.toDataURL('image/jpeg');

            $.ajax({
                url: '/save-cropped-image/',
                method: 'POST',
                data: { image: croppedImage },
                success: function (response) {
                    console.log(response);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        });
    });
</script> -->

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.js"></script>

</html>